.custom-button {
  background-color: #3C0956;
  color: #31C1B8;
  border: none;
  border-radius: 50px;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.custom-button:hover {
  background-color: #FE8284;
  color: white;
}
