.profile-section{

display: flex;
justify-content: flex-start;
margin-left: 10rem;

}

.user-info{
    margin-left:1rem;
    color: #31C1B8;
}

.nickname{
    font-size: 6rem;
}

.user-name{
    justify-self:center;
}