.footer-container {
    display: flex;
    background-color: #000000;
    color: #FAF9F6;
    padding: 0.5rem;
    text-align: bottom;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif  
  }
  
  .text-container{
    background-color: #000000;
    
  }

  .text{
    color:#31C1B8 ;
  }