.profile-section{
    display: flex;
    justify-content: flex-start;
    margin-left: 10rem;
    margin-top: 4rem;
    
    }
    
    .user-info{
        margin-left:1rem;
        color: #31C1B8;
    }
    
    .nickname{
        font-size: 6rem;
    }
    
    .user-name{
        justify-self:center;
    }
    
    .custom-button button-edit{
        margin-left: 5rem;
    }

    .events-category{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color:#31C1B8;

    }
    .events-section {
        display: flex;
        flex-direction: column;
        
      }
      
      .events-category {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center; 
        margin-bottom: 2rem;
      }
      
      .event-cards {
        display: flex;
        flex-wrap: wrap; 
        gap: 20rem;
        margin-left: 14rem;
      }